<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Play Game</title>
</head>
<body>
    <h1>Problem {{ game_instance.questions_answered + 1 }}:</h1>
    <p>{{ problem }}</p>
    <form action="/play/answer" method="post">
        <label for="answer">Raspunsul tau:</label><br>
        <input type="number" name="answer" required><br><br>
        <button type="submit">Submit Answer</button>
    </form>
</body>
</html>
